<div id="recent-posts">
  <ul id="recents">
    <% @recent_posts.each do |rp| %>
    <li>
      <acronym title="<%= rp.created_at %>"><%= time_ago_in_words rp.created_at %> ago</acronym>
      <% if rp.name.present? %>
        - from <span><%= h rp.name %></span>
      <% end %>
      <q title="from <%= rp.source_ip %>"><%= h rp.message %></q>
    </li>
    <% end %>
  </ul>
</div>

<div id="form">
  <% form_tag :action => :say do %>
    <input name="name" id="your-name" maxlength="30"/>
    <input name="q" id="say-box" maxlength="160"/>
    <%= submit_tag "Say" %>
  <% end %>

  <div id="links">
    <%= link_to_function "ho ho ho", "$('#say-box').val('Ho... ho... ho');" %>
    |
    <%= link_to_function "Edwin.... Edwin!", "$('#say-box').val('Edwin.... Edwin!');" %>
    |
    <%= link_to_function "I've deployed some stuff to QA", "$('#say-box').val(\"I've deployed some stuff to Q A............. please sign it off.\");" %>
    |
    <%= link_to_function "I'm Bondage Santa", "$('#say-box').val(\"I'm Bondage Santa............ have you been naughty or nice............. I've been very naughty\");" %>
  </div>
</div>
